@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,300&display=swap');

* {
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}


/*Mobile Styling */

@media only screen and (min-width:375px) {

    body {
        margin: 0;
    }

    .flexbox-container {
        display: flex;
        flex-direction: column;
    }

    .logo {
        width: 40%;
        margin: 35px 0px 35px 35px;

    }

    .hero-image {

        background-image: url("images/hero-mobile.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        height: 20rem;
        width: 100%;
    }

    .content {
        background-color: white;
        width: 100%;

    }

    .title-text, .pink-text-title {
        text-align: center;
        font-size: 25px;
        margin-top: 15px;
        color: hsl(0, 6%, 24%);
        font-weight: 600;

    }

    .pink-text-title {
        color: hsl(0, 36%, 70%);
    }

    .content-description {
        text-align: center;
        padding: 20px;

    }

    form {
        display: flex;
        justify-content: space-between;
        border: solid hsl(356, 18%, 83%);
        border-width: thin;
        border-radius: 20px;
        margin: 15px;
        width: 80%;


    }

    /*Styling for label to make it not visible,but still readable by a screen reader*/
    #email_label {
        position: absolute;
        left: 10000px;
    }

    #email-box {
        border: none;
        padding: 12px;
        flex-grow: 2;
    }

    .button {
        background-color: hsl(0, 76%, 82%);
        border-radius: 12px;
        border: none;
        width: 20%;
    }
}

/*Desktop Styling*/
@media only screen and (min-width:992px) {

    .flexbox-container {
        display: flex;
        flex-direction: row;
    }
    .content {
        order: 2;
        height: 70vh;
    }
    .content-flexbox-container-desktop{
        display: flex;
        flex-direction: column;

    }

    .hero-image {
        order: 3;
        background-image: url("images/hero-desktop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 60%;
        height: 100vh;

    }


}