@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,300&display=swap');

* {
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}
body {
    margin: 0;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 40%;
    margin: 35px 0px 35px 35px;

}

.hero-image {

    background-image: url("images/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 20rem;
    width: 100%;
}

.content {
    background-color: white;
    width: 100%;

}
.content-title-container{
    width: 100%;
    text-align: center;
}
h1{
    letter-spacing: 1rem;
}

.title-text, .pink-text-title {
    width: 100%;
    font-size: 25px;
    margin-top: 20px;
    color: hsl(0, 6%, 24%);
    font-weight: 600;

}

.pink-text-title {
    color: hsl(0, 36%, 70%);
}
.content-description-container{
      width: 100%;
}
.content-description {
    width: 70%;
}

form {
    display: flex;
    justify-content: space-between;
    border: solid hsl(356, 18%, 83%);
    border-width: thin;
    border-radius: 20px;
    margin: 15px;
    width: 60%;


}

/*Styling for label to make it not visible,but still readable by a screen reader*/
#email_label {
    position: absolute;
    left: 10000px;
}
/*end*/
#email-box {
    border: none;
    padding: 12px;
    border-radius: 20px;
    width: 100%;
   }
 #email-box:focus{
     outline: none;
 }
.button {
    background-color: hsl(0, 76%, 82%);
    border-radius: 12px;
    border: none;
    width: 20%;
}

.attribution{
    font-size: 10px;
    padding-left: 1.5rem;
}


/*Mobile Styling */

/*Desktop Styling*/
@media only screen and (min-width:992px) {

    .grid-container{
        display: grid;
        grid-template-columns:0.3fr 1.5fr 1fr;
        grid-template-areas: ".  header    hero-image"
                             ".  content   hero-image " ;
                            
    }
    .header{
        grid-area: header;
        height: 20vh;
        width: 100%;       
    }
    .logo-container{
        width: 100%;
        text-align: left;
    }
    .logo{
        margin:1.2rem 0rem 0rem 0rem;
    }
    .content{
        grid-area: content;
        height:80vh;
    }
    .content-flex-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .content-title-container{
        width: 100%;
        text-align: left;
    }


    .hero-image {
        background-image: url("images/hero-desktop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        grid-area: hero-image;
    }
    .title-text, .pink-text-title{
        font-size:2.5rem;
    }


}